<!--TODO keep track of only the image that has been uploaded-->

<div class = "container">
    <div class="col-md-3">
      <round-progress [current]="60" [max]="100" [clockwise]="false"></round-progress>
      <round-progress [current]="50" [max]="100"></round-progress>
    </div>
    <div class="col-md-6">
     <div class = "row">
       <ul *ngFor="let question of questions  | paginate: {itemsPerPage: itemsPerPage, currentPage: p}; let i = index">
         <li>{{question.title}} {{question.riskWeighting}} {{question.guidance}}</li>
         <input type="range" min="0" [max]="question.riskWeighting" [(ngModel)]="answers[i]" step=".1" (change)="scoreTracker(answers[i])">
         <div *ngIf="answers[i] < question.riskWeighting/2">
            <img src="../../assets/superthumb.jpg" style="width: 50px; height: 50px">
         </div>
         <div *ngIf="answers[i] === question.riskWeighting/2">
           <img src="../../assets/neutralFace.png" style="width: 50px; height: 50px">
         </div>
         <div *ngIf="answers[i] > question.riskWeighting/2">
           <img src="../../assets/happyFace.png" style="width: 50px; height: 50px">
         </div>
         <br>
       </ul>
       <div class="row">
         <div class="col-md-8">
           <pagination-controls (pageChange)="p = $event"></pagination-controls>
         </div>
         <div class="col-md-4">
           <select
             required
             [(ngModel)] ="itemsPerPage">
             <option
               *ngFor="let options of possibleValuesPerPage"
               [value]="options" (change)="checkItems(options)">{{options}}</option>
           </select>
         </div>
       </div>
     </div>
    </div>
    <div class="col-md-3"></div>
</div>
<button routerLink="/">Navigate away</button>
<p><strong>{{idleState}}</strong></p>
<p *ngIf="lastPing"><small>Last keepalive ping <strong>{{lastPing | amTimeAgo}}</strong></small></p>
<button (click)="reset()" *ngIf="timedOut">Restart</button>
<input type="file" ng2FileSelect [uploader]="uploader" (change)="checkUrl($event)" accept="image/jpeg, image/x-png"/>
<img [src]="">
<button (click)="checkUrl()">Check URL</button>


