<!--TODO keep track of only the image that has been uploaded-->
<br>
<div class = "container">
  <div class="col-md-3">
    <app-score-bars></app-score-bars>
  </div>
  <div class="col-md-8">
    <ul class="list-group" *ngFor="let question of questions  | paginate: {itemsPerPage: itemsPerPage, currentPage: p}; let i = index">
      <div class = "row">
      <li class="list-group-item">
        {{question.title}}
          <span class="glyphicon glyphicon-info-sign pull-right" mdTooltipPosition="below" mdTooltip={{question.guidance}}></span>
      </li>
      <!--<div id="slider">-->
        <!--<input type="range" *ngif="answers[i]" min="0" [max]="question.riskWeighting" step=".1" [(ngModel)]="answers[i].userAnswer" (change)="updateValue(i)">-->
      <!--</div>-->
      <div *ngIf="answers[i]; else elseBlock" id="slider">
        <input type="range" min="0" [max]="question.riskWeighting" step=".1" [(ngModel)]="answers[i].userAnswer" (change)="updateValue(i)">
      </div>
      <ng-template #elseBlock>
        <input type="range" min="0" [max]="question.riskWeighting" #valueTracker value="0" step=".1" (change)="saveNewAnswer(valueTracker.value, i)">
      </ng-template>
      <!--<div *ngIf="answer.previousAnswer < question.riskWeighting/2">-->
      <!--<img src="../../assets/superthumb.jpg" style="width: 50px; height: 50px">-->
      <!--</div>-->
      <!--<div *ngIf="answer.previousAnswer === question.riskWeighting/2">-->
      <!--<img src="../../assets/neutralFace.png" style="width: 50px; height: 50px">-->
      <!--</div>-->
      <!--<div *ngIf="answer.previousAnswer > question.riskWeighting/2">-->
      <!--<img src="../../assets/happyFace.png" style="width: 50px; height: 50px">-->
      <!--</div>-->
      <!--<br>-->
      </div>
      </ul>
      <div class="row">
        <div class="col-md-8">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
        <div class="col-md-4">
          <div class="col-md-4">
            <select
              required
              [(ngModel)] ="itemsPerPage">
              <option
                *ngFor="let options of possibleValuesPerPage"
                [value]="options" (change)="checkItems(options)">{{options}}</option>
            </select>
          </div>
          <div class="col-md-8">
            <button class="btn btn-primary" (click)="onSave()">Save Answers</button>
          </div>
        </div>
      </div>
    </div>
</div>

<button routerLink="/">Navigate away</button>
<!--<p><strong>{{idleState}}</strong></p>-->
<!--<p *ngIf="lastPing"><small>Last keepalive ping <strong>{{lastPing | amTimeAgo}}</strong></small></p>-->
<!--<button (click)="reset()" *ngIf="timedOut">Restart</button>-->
<!--<input type="file" ng2FileSelect [uploader]="uploader" (change)="checkUrl($event)" accept="image/jpeg, image/x-png"/>-->
<!--<img [src]="">-->
<!--<button (click)="checkUrl()">Check URL</button>-->


